.feat-project-card {
  position: relative;
  display: grid;
  grid-template-columns: minmax(20rem, 50rem) 1fr;
  gap: 2.5rem;
  padding-bottom: 2rem;
  align-items: stretch;
}

.feat-project-card::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: var(--blue);
}

.feat-project-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* Billed-wrapperen */
.feat-project-image {
  width: 100%;
  border-radius: var(--border-radius-large);
  overflow: hidden; /* vigtig for zoom */
}

/* Selve billedet */
.feat-project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

/* Hover på hele kortet → zoom billedet */
.feat-project-card:hover .feat-project-image img {
  transform: scale(1.05);
}

.feat-project-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.content-bottom {
  display: flex;
  align-items: flex-end;
}

.tags {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
}

.tags li {
  border-radius: 6px;
}

.explore-button {
  background: var(--blue);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-large);
  display: inline-block;
  text-decoration: none;
  margin-left: auto;
}
