/* ----------------------------- */
/* HERO GRID + ANIMATION         */
/* ----------------------------- */

.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0; /* ← vigtig! */
}

.hero-grid {
  position: relative;
  display: grid;
  grid-template-columns: var(--grid-cols);
  grid-template-rows: var(--grid-rows);
  height: 100vh;
}

.hero-grid > *:not(.grid-lines) {
  position: relative;
  z-index: 1;
}
.nav-item {
  align-self: center;
  justify-self: center;
  text-decoration: none;
}

/* ----- Tekst om mig ----- */

.hero-intro {
  justify-self: center;   /* horisontal centering */
  align-self: center;     /* vertikal centering */
  text-align: left;       /* eller center, hvis du vil */
   padding: 2rem 3rem;
}

.hero-title {
  justify-self: center;  /* horisontal centering */
  align-self: center;    /* vertikal centering */
  text-align: center;
  position: relative;
  z-index: 4;
   opacity: 0;
  transform: translateX(0);
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

/* Text animation*/
/* Startposition før scroll */
.slide-right,
.slide-left {
  opacity: 0;
  transform: translateX(0);
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

/* Retning */
.slide-right {
  transform: translateX(-40px); /* starter lidt til venstre */
}

.slide-left {
  transform: translateX(40px); /* starter lidt til højre */
}

/* Når de bliver synlige */
.slide-in {
  opacity: 1;
  transform: translateX(0);
}

/* text slide */
.slide-right-out {
  transform: translateX(1000px);
  opacity: 0;
}

.slide-left-out {
  transform: translateX(-1000px);
  opacity: 0;
}


.has-slash {
  position: relative;
}

.has-slash::after {
  content: "";
  position: absolute;
  left: -10%;      /* hvor langt ud til højre */
  top: 160%;          /* vertikal placering */
  width: 8rem;       /* længden på stregen */
  height: 2px;       /* tykkelsen */
  background: var(--blue);
  transform: translateY(-50%) rotate(-230deg); /* skrå vinkel */
}